{% extends 'gptchecker/base.html' %}

{% block title %}About Us{% endblock %}

{% block about_class %}class="active"{% endblock %}

{% block content %}
<header>
    <h1>About Us</h1>
    <p>Unlock the magic of resume transformation with ResumeWizard</p>
</header>

<main>
    <div class="container">
        <section>
            <h2>Our Mission</h2>
            <p>At ResumeWizard, our mission is to empower individuals in their career journey by providing expert
                guidance and resources to craft resumes that stand out and propel them towards success.</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <div class="team-member">
                <h3>Janhavi Tatkare</h3>
                <p>Founder & CEO</p>
            </div>
            <div class="team-member">
                <h3>Aditya Dhonde</h3>
                <p>Head of Resume Review</p>
            </div>
            <div class="team-member">
                <h3>Chandramouli Vittal</h3>
                <p>Lead Designer</p>
            </div>
            <div class="team-member">
                <h3>Nandita</h3>
                <p>Lead Designer</p>
            </div>
            <div class="team-member">
                <h3>Aishwarya Zope</h3>
                <p>Lead Designer</p>
            </div>
        </section>
    </div>
</main>

<footer>
    <p>&copy; 2024 ResumeWizard</p>
</footer>

{% endblock %}